.section5-data{
    margin-left: 300px;
}
img[src="./Images/cap8.PNG"]{
    width: 565px;
    height: 490px;
}
img[src="./Images/cap9.PNG"]{
    width: 552px;
    height: 490px;
}
img[src="./Images/cap10.PNG"]{
    width: 570px;
    height: 490px;
}
img[src="./Images/cap11.PNG"]{
    width: 552px;
    height: 490px;
}
